@font-face {
    font-family: 'GB Regular';
    src: url('../fonts/gb_regular.woff2') format('woff2'),
    url('../fonts/gb_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    position: static;
}

body * {
    position: relative;
}

html, body {
    font-family: 'GB Regular', Menlo, monospace;
    color: #fff;
    background: #2c2c2c;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container h1.title {
    margin-bottom: 1.5rem;
}

img.floating-sprite {
    max-width: 300px;
}

a {
    color: #d6681f;
}

.hero-foot {
    padding: 10px 10px 25px 10px;
    font-size: 9px;
}

.hero-foot, .hero-foot a {
    color: #4c4c4c;
}

.hero-foot a:hover {
    color: #000000;
}

.game-viewport {
    background: #0ebed0;
    overflow: hidden;
    box-shadow: inset #2c2c2c 0px 0px 0px 10px;
}

.strocked {
    color: white;
    text-shadow: 3px 3px 0 #2c2c2c,
    -1px -1px 0 #2c2c2c,
    1px -1px 0 #2c2c2c,
    -1px 1px 0 #2c2c2c,
    1px 1px 0 #2c2c2c;
    font-weight: 800;
}

.button.is-white.is-outlined {
    background-color: #b9b9b9;
}

.button.is-black {
    background: #2c2c2c;
}

.floating-sprite {
    animation: floating-animation 1000ms cubic-bezier(.35, .45, .20, 1) alternate infinite;
}

/* Standard syntax */
@keyframes floating-animation {
    from {
        transform: translate(0, 0px);
    }
    40% {
        transform: translate(0, -6%);
    }
    to {
        transform: translate(0, -0px);
    }
}
